$bp-mobile: 375px;
$bp-tablet: 740px;
$bp-desktop: 1280px;

$text-primary: #0f172b;
$text-secondary: #62748e;
$text-tertiary: #314158;

$color-primary: #6679dd;
$color-primary-pale: #eef2ff;

$white: #ffffff;
$border-color: #cad5e2;
