* {
  padding: 0px;
  margin: 0px;
}

:root {
  font-family: "Rubik", system-ui, sans-serif;
  color: $color-primary;
  background: $white;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  background: inherit;
  color: inherit;
}

.layout {
  min-height: 100vh;
}

main {
  @include display(16px, 0, flex);
  @include direction(column);
  flex: 1;
}

/* Tablet */
@media (min-width: $bp-tablet) {
  .layout {
    gap: 20px;
  }

  header {
    gap: 12px;
  }
}

/* Desktop */
@media (min-width: $bp-desktop) {
  .layout {
    margin: 0 auto;
  }

  header {
    justify-content: flex-start;
  }
}
