* {
  padding: 0px;
  margin: 0px;
}

:root {
  font-family: "Rubik", system-ui, sans-serif;
  color: $color-primary;
  background: $white;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  background: inherit;
  color: inherit;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

header {
  display: flex;
  height: 64px;
  align-items: center;
  border-bottom: 1px solid $border-color;

  img {
    width: 40px;
    height: 40px;
  }

  .button-group {
    display: flex;
    gap: 32px;
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Tablet */
@media (min-width: $bp-tablet) {
  .layout {
    gap: 20px;
  }

  header {
    gap: 12px;
  }
}

/* Desktop */
@media (min-width: $bp-desktop) {
  .layout {
    max-width: 1200px;
    margin: 0 auto;
  }

  header {
    justify-content: flex-start;
  }
}
