.navigation-button {
  @include display(5px, 8px 12px, inline-flex);
  @include direction(row, center, center);
  @include color($text-tertiary);
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: bold;

  &__icon {
    @include size(auto, 16px);
    color: $text-secondary;
  }

  &--selected {
    @include color($color-primary, $color-primary-pale);
  }
}
