.custom-button {
  @include display(4, 8px 16px, inline-flex);
  @include direction(row, center, center);
  border: none;
  cursor: pointer;
  transition: background-color 150ms ease, color 150ms ease;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;

  &--primary {
    @include color($white, $color-primary);

    &:not(:disabled) {
      &:hover {
        background-color: $main-button-hover;
      }

      &:active {
        background-color: $main-button-press;
      }
    }
  }

  &--secondary {
    @include color($text-tertiary, $white);
    border: 1px solid $border-color;

    &:not(:disabled) {
      &:hover {
        background-color: $secondary-button-hover;
      }

      &:active {
        background-color: $secondary-button-hover;
        color: $text-primary;
      }
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
