.custom-button {
  @include display(4, 8px 16px, inline-flex);
  @include direction(row, center, center);
  border: none;
  cursor: pointer;
  transition: background-color 150ms ease;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;

  &--primary {
    @include color($white, $color-primary);
  }

  &--secondary {
    @include color($text-primary, $white);
    border: 1px solid $border-color;
  }

  &--navigation {
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
