.tutors {
  max-width: 612px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;

  &__title {
    @include color($text-primary);
    font-size: 24px;
    font-weight: medium;
    text-align: center;
  }

  &__list {
    padding-top: 20px;
    display: grid;
    gap: 20px;
  }
}
