.card {
  @include color($text-primary);
  @include display(16px);
  @include direction(row);
  border-radius: 16px;
  border: 1px solid $border-color;
  padding: 16px;

  &__info-container {
    @include display(10px);
    @include direction(column);
  }

  &__image-container {
    img {
      @include size(65px, auto);
    }
  }

  &__teachers-name {
    font-size: 16px;
    font-weight: medium;
  }

  &__teachers-grade {
    @include display(15px, 0, inline-flex);
    @include color($text-secondary);
    font-size: 16px;
  }
  &__actions {
    @include display(15px, 0, flex);
  }
  &__description {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
