.card {
  @include color($text-primary);
  @include display(10px);
  @include direction(column);
  border-radius: 16px;
  border: 1px solid $border-color;
  padding: 16px;

  &--teachers-name {
    font-size: 16px;
    font-weight: medium;
  }

  &--teachers-grade {
    @include display(15px, 0, inline-flex);
    @include color($text-secondary);
    font-size: 16px;
  }
  &--actions {
    @include display(15px, 0, flex);
  }
  &--description {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
